{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": false,
          "browsers": ["> 0.25%", "not dead"]
        }
      }
    ]
  ],
  "plugins": ["transform-remove-console"]
}
