name: Java CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify

      - name: 'Upload Artifact'
        if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v2
        with:
          name: csrfguard-latest-test-application
          path: |
            csrfguard-test/csrfguard-test-jsp/csrfguard-test-jsp-*SNAPSHOT.war
            csrfguard-test/csrfguard-test-jsp/csrfguard-test-jsp-*SNAPSHOT-executable.jar
          retention-days: 3